html,
body.card {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/groeneveld.jpg);
}

body.card {
    background: #db0b0b;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


html,
body.card {
    position: relative;
    height: 100%;
}

body.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container {
    margin-top: 50px;
    width: 330px;
    height: 500px;
}

swiper-container-home {
    width: 100%;
    height: 100%;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

swiper-slide-home {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-slide:nth-child(1n) {
    background-color: rgba(14, 14, 255, 0.822)
}

swiper-slide:nth-child(2n) {
    background-color: rgba(211, 14, 211, 0.822)
}

swiper-slide:nth-child(3n) {
    background-color: rgba(31, 202, 59, 0.767)
}
