{% extends 'base.html.twig' %}

{% block title %}Mon compte MusicHall
{% endblock %}

{% block content %}

	<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-7 my-20">
		<div class="md:flex">
			<div class="md:shrink-0">
				<img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ asset('/img/capture.png') }}" alt="Modern building architecture">
			</div>
			<div class="p-8">
				<div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{app.user.firstname}}</div>
				<a href="{{ path('account_password')}}" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Modifier mon mots de passe</a>
				<p class="mt-2 text-slate-500">Bienvenue {{app.user.firstname}} dans votre compte. C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
			</div>
		</div>
	</div>
{% endblock %}
